
html{ 
  background: url(front_page/desk_photo.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
	padding-top: 10%;
	margin-bottom: 40px;

}

.body_content {
	background-color: transparent;
}

#main_title{
	text-align: center;
	margin: 0 auto;
	display: block;
	font-family: HiraginoSans-W4, Sans-Serif;
	font-weight: bold;
	color: white;

}

.reddit-words-list{

}

.footer{
	height: 80px;
}

#seeReplies{
	float: right;
	margin-right: 25px;
}

#seeReplies button{
	height: auto;
	width: 90px;
}

.twitter-stats, .reddit-stats{
	background-color: white;
	border-radius: 7px;
}

.stats-wrapper{
	padding: 15px 15px 15px 15px;
}


.reddit-comment-text, .column-labels{
	padding: 15px 15px 15px 15px;
	font-weight: bold;
}

.column-labels{
	text-align: center;
}

.twitter-card-text{
	padding: 10px 20px 0px 10px;
	font-weight: bold;
}

.reddit-comment-details, .twitter-card-details{
	padding-left: 22%;
}


#reddit-comments-chart{
	background-color: rgba(255,255,255,0.9);
	display: block;
	width: 90%;
	height: 500px;
	margin-left: 5%;
}

.twitter-content{
	/*padding: 15px 15px 15px 15px;*/
}

#reddit-chart-title{
	z-index: 100;
	font-size: 2em;
	margin-bottom: -50px;
	text-align: center;
}

#signIn, #invalid{
	color: white;
	font-size: 2em;
	margin-top: 10px;
	/* Rectangle 1: */
	background: rgba(215,215,215,0.65);
	border-radius: 10px;
	font-family: HiraginoSans-W4, Sans-Serif;
}

#main_title h1{
	font-size: 10em;
}

.img-circle{
	float: left;
	max-width: 90px;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 10px;
}

#main_title h2{
	margin-top: -20px;
	font-size: 3em;
}

#main_input{
	width: 50%;
	display: block;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;

}

#urlInput{
	width: 80%;
	border-radius: 7px;
	display: block;
	height: 40px;
	margin: 0 auto;
	font-family: HiraginoSans-W4, Sans-Serif;
	text-align: center;
	font-size: 1.2em;
}

#urlInput-button, #signOut, #connectButton{
	margin: 0 auto;
	display: inline-block;
	width: 30%;
	margin-top: 15px;
	background: #7BDBC5;
	border-radius: 7px;
	font-family: HiraginoSans-W4, Sans-Serif;
	font-size: 1em;
	color: #F4EFEF;
	height: 40px;
}

#signOut, #connectButton{
	position: fixed;
	right: 15px;
	width: auto;
	z-index: 100;
}

#urlInput-button:hover, #signIn:hover{
	cursor: pointer;
}

/*above this line is new css*/

.reddit-card-content-container{
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5px;
}


#full-container{
	float: center;
	margin-left: 5%;
	margin-right: 5%;
}

.results-top-dash{
	width: 100%;
	height: 100%;
}


.reddit-card, .twitter-card{
background-color: rgba(255,255,255,0.9);
border-radius: 5px;
}

/*.twitter-card{
	width: 350px;
	float: right;
}*/

.twitter-results-column{
	width: 50%;
	float: right;
}

.twitter-card:hover, .reddit-card:hover{
	box-shadow: 2px 4px 2px #888888;
}

