.reddit-card-content-container{
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5px;
}

#connectButton, #signOut{
float: right;
margin-right: 10%;

}

#full-container{
	float: center;
	margin-left: 5%;
	margin-right: 5%;
}

.reddit-card{
	width: 40%;
/*	float:left;*/
}

/*.twitter-card{
	width: 350px;
	float: right;
}*/

.twitter-results-column{
	width: 50%;
	float: right;
}

.twitter-card:hover, .reddit-card:hover{
	box-shadow: 2px 4px 2px #888888;
}

#urlInput-button{

	margin: 0 auto;

	width: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
	/* Rectangle 2: */
	background: #7BDBC5;

	border-radius: 7px;
	/* Find the conversatio: */
	font-family: HiraginoSans-W4, Sans-Serif;
	font-size: 20px;
	color: #F4EFEF;
	height: 40px;


}

#urlInput {
    width: 400px;
    margin: 0 auto;
    padding: 12px 20px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 7px;

}

#top-bar{
	margin-left: 5%;
}