.md-card-image{
  width: auto;
  /*max-width: 150px;*/
  height: auto;
  max-height: 200px;
  min-height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.md-card-profile-image{
	height: 80px;
	width: 80px;
	position: absolute;
	border-radius: 5px;
	border: 4px white solid;
	margin-top: -40px;
	margin-left: 210px;
}

.md-card-content{
	background-color: white;
}

.md-card-content h2{
	font-size: 1.1em;
}

.twitter-user-link, .reddit-user-link{
	cursor: pointer;
}

.md-actions{
	max-height: 100px;
}

md-card{
	background-color: #F1F1F1;
	width: 350px;
	border-radius: 5px;
	display: inline-grid;
}

.twitter-md-card:hover, .reddit-md-card:hover{
	box-shadow: 1px 4px 2px #888888;
}

.reddit-md-card{
	width: 90%;
	float: center;
}

.subreddit-link{
	cursor: pointer;
}

#main-title{
	margin-bottom: 0px;
	font-size: 6em;
	position: relative;

}

.input-link {
	text-align: center;
	margin-top: 15%;
	color: black;
}

.input-link h2{
	font-size: 1.4em;
	margin-top: 1%;
}

body h1, body h2 {
	font-family: HiraginoSans-W4, Sans-Serif;
}

 